@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;   
}

*, *::before, *::after {
    box-sizing: inherit;
}

.hamburger {
    background-image: url(../images/hamburger.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    left: 800px;
    width: 50px;
    height: 50px;    
}

h1 {
    position: absolute;
    top: 425px;
    left: 350px;
    color: #ededad;
    font-weight: bold;
    font-size: 4rem;
}

h1:hover {
    color: #55f0c6;
    cursor: pointer;
}

.moon {
    background-image: url(../images/owl-moon.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 500px;
    height: 400px;
    top: 20px;
    left: 250px;
    animation: moon-smaller 10s alternate infinite;
}

.cloud {
    background-image: url(../images/cloud-one.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 200px;
    left: 250px;
    animation: cloud-move 10s linear forwards infinite;
}

.cloud-two {
    background-image: url(../images/cloud-one.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 150px;
    left: 400px;
    animation: cloud-move 10s linear forwards infinite;
}
    

.owl {
    background-image: url(../images/owl.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 300px;
    height: 300px;
    margin: auto;
    transition: all 6s linear;
}

.owl:hover {
    background-image: url(../images/owl-two.svg);
    background-repeat: no-repeat;
}

body {
    background-color: #313250;
    padding: 0;
}

@keyframes cloud-move {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateX(-100px);
    }
    
}

@-webkit-keyframes cloud-move {
    0% {
        -webkit-transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateX(-100px);
    }
    
}

@keyframes moon-smaller {
    0% {
        transform: scale(1,1);
    }
    100% {
        transform: scale(0.5,0.5);
    }
}

@-webkit-keyframes moon-smaller {
    0% {
        -webkit-transform: scale(1,1);
    }
    100% {
        -webkit-transform: scale(0.5,0.5);
    }
}












