@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;   
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.banner-bg {
    background-color: #313250;
    width: 100%;
    height: 700px;
    padding: none;
}


h1 {
    position: absolute;
    top: 425px;
    left: 30%;
    color: #ededad;
    font-size: 4rem;
    font-weight: 100;
    font-kerning: normal;
    text-align: center;
}

h1:hover {
    color: #55f0c6;
    cursor: pointer;
    transition: 2s ease-in-out; 
}

.night-life:hover .d-b {
    display: block;
}

.d-b {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 550px;
    left: 35%;
    display: none;
}

.moon {
    background-image: url(../images/owl-moon.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 500px;
    height: 400px;
    top: 20px;
    left: 40%;
    -webkit-animation: moon-smaller 6s alternate infinite;
    animation: moon-smaller 6s alternate infinite;
}

.cloud {
    background-image: url(../images/cloud-one.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 200px;
    left: 50%;
    -webkit-animation: cloud-move 10s linear forwards infinite;
    animation: cloud-move 10s linear forwards infinite;
}

.cloud-two {
    background-image: url(../images/cloud-one.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 150px;
    left: 30%;
    -webkit-animation: cloud-move 10s linear forwards infinite;
    animation: cloud-move 10s linear forwards infinite;
}
    

.owl {
    background-image: url(../images/owl.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 300px;
    height: 300px;
}

.owl:hover {
    background-image: url(../images/owl-two.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 300px;
    height: 300px;
    transition: 1.5s;
}

@keyframes cloud-move {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateX(-100px);
    }
    
}

@-webkit-keyframes cloud-move {
    0% {
        -webkit-transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateX(-100px);
    }
    
}

@keyframes moon-smaller {
    0% {
        transform: scale(1,1);
    }
    100% {
        transform: scale(0.75,0.755);
    }
}

@-webkit-keyframes moon-smaller {
    0% {
        -webkit-transform: scale(1,1);
    }
    100% {
        -webkit-transform: scale(0.5,0.5);
    }
}

@media only screen and (min-width: 20em) {
    
    
    .moon {
    background-image: url(../images/owl-moon.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 350px;
    height: 250px;
    top: 20%;
    left: 40%;
    -webkit-animation: moon-smaller 6s alternate infinite;
    animation: moon-smaller 6s alternate infinite;
}

.cloud {
    background-image: url(../images/cloud-one.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 30%;
    left: 50%;
    -webkit-animation: cloud-move 10s linear forwards infinite;
    animation: cloud-move 10s linear forwards infinite;
}

.cloud-two {
    background-image: url(../images/cloud-one.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 30%;
    left: 30%;
    -webkit-animation: cloud-move 10s linear forwards infinite;
    animation: cloud-move 10s linear forwards infinite;
}
    
}

@media only screen and (min-width: 60em) {


    .moon {
    background-image: url(../images/owl-moon.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 500px;
    height: 400px;
    top: 20px;
    left: 40%;
    -webkit-animation: moon-smaller 6s alternate infinite;
    animation: moon-smaller 6s alternate infinite;
}

.cloud {
    background-image: url(../images/cloud-one.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 200px;
    left: 50%;
    -webkit-animation: cloud-move 10s linear forwards infinite;
    animation: cloud-move 10s linear forwards infinite;
}

.cloud-two {
    background-image: url(../images/cloud-one.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 150px;
    left: 30%;
    -webkit-animation: cloud-move 10s linear forwards infinite;
    animation: cloud-move 10s linear forwards infinite;
}
    
}











